/* page */
.topic-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    height: 100%;
    width: 100%;
    background: #f7cda3;
    max-width: 900px;
    margin: auto;
}

/* instructions box */
.topic-instructions {
    background: #f9f2f1;
    border-radius: 10px;
    padding: 10px;
    font-family: 'Hind', sans-serif;
    font-size: 1.4em;
    line-height: 1em;
}
.topic-instructions > * {
    padding: 5px 0;
}
/* buttons */
.topic-smart-session {
    margin: 10px 0;
    padding: 10px;
    color: #f9f2f1;
    font-size: 1.2em;
    background: #c95349;
    border-radius: 10px;
    border: 2px solid #c95349;
    transition: all .1s ease-in;
}
.topic-smart-session:hover {
    background: #f9f2f1;
    color: #c95349;
}
.topic-new-topic {
    padding: 5px;
    color: #f9f2f1;
    background: #c95349;
    border-radius: 5px;
    border: none;
    border: 2px solid #c95349;
    transition: all .1s ease-in;
}
.topic-new-topic:hover {
    background: #f9f2f1;
    color: #c95349;
}
/* topics list and cards */
.topic-list {
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    padding: 10px;
    background: #f9f2f1;
}
.topic-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}
.topic-card-container {
    list-style: none;
    grid-column: 1/-1;

}
.topic-card {
    font-family: 'Hind', sans-serif;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-radius: 8px;
    box-shadow: -1px 1px 3px #b9bdc0;
    transition: all .1s ease-in;
    background: rgba(232,232,232,.5);
}
.topic-card:hover {
    background: #4ac17e;
}

/* dialogs */
.topic-page dialog{
    position: fixed;
    top:0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    background: rgba(0,0,0,.7)
}
.start-session-container, .topic-selected-container, .topic-edit-form {
    background: #f9f2f1;
    min-height: 300px;
    max-height: 500px;
    min-width: 300px;
    max-width: 90%;
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
/* start session */
.start-topic-name {
    font-weight: 900;
    font-size: 1.6em;
    padding: 20px 0;
    text-align: center;
}
.start-session-buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.topic-page dialog button {
    background: #4ac17e;
    min-width: 75px;
    font-size: 1em;
    border-radius: 5px;
    padding: 10px;
    border:none;
    transition: all .1s ease-in;
}
.topic-page dialog button:hover {
    background: #ace2c4;
}

/* topic selected */
.topic-page dialog .topic-selected-start {
    margin: 10px 0;
    padding: 10px;
    color: #f9f2f1;
    font-size: 1.2em;
    background: #c95349;
    border-radius: 10px;
    transition: all .1s ease-in;
    border: 2px solid #c95349;
}
.topic-page dialog .topic-selected-start:hover {
    background: #f9f2f1;
    color: #c95349;
}
.topic-selected-buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: .8em;
}
.topic-selected-container h1 {
    font-size: 1.8em;
}
.topic-selected-container h3 {
    font-size: 1.2em;
}

/* topic edit */
.topic-edit-form input {
    text-align: center;
    border: 1px solid #b9bdc0;
}
.topic-edit-label {
    position: relative;
    right: 10px;
}
.topic-edit-buttons {
    width: 100%;
    font-size: .8em;
    display: flex;
    justify-content: space-around;
}
.topic-edit-input-topic{
    font-size: 1.8em;
    width: 100%;
}
.edit-priority-container, .topic-selected-priority {
    font-size: 1.4em;
    text-align: center;
}

.edit-priority-container input {
    font-size: 1.4em;
}
@media only screen and (min-width: 500px) {
    .topic-page > section {
        padding: 20px;
        margin: 20px;
    }
    .topic-smart-session {
        font-size: 1.8em;
        padding: 15px;
    }
    .topic-new-topic {
        font-size: 1.2em;
    }
    .topic-list-header h3 {
        font-size: 1.4em;
    }
    .start-session-container, .topic-selected-container, .topic-edit-form {
        padding: 20px;
        min-height: 500px;
        min-width: 400px;
    }
    .topic-edit-buttons{
        font-size: initial;
    }
}

@media only screen and (min-height: 750px) {
    .topic-page > section {
        margin-top: 50px;
    }
    .topic-smart-session {
        margin-top: 50px;
    }
}