.add-priority-page {
  background-image: linear-gradient(to top right, #4bc0c8, #f5eeee);
  background-color: #f5eeee;
}
.add-priority-text {
  align-content: center;
  text-align: center;
}

.priority-input {
  width: 30px;
  height: 30px;
}
.priority-btn-container {
  align-items: center;
}

.add-priority-btn {
  background-color: whitesmoke;
  border-radius: 4;
}
