.enter-topic-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  height: 100%;
  max-width: 100%;
  background-color: #f9f2f1;
}
.enter-topic-header {
  font-size:30px;
  margin-bottom: 15px;
}
.enter-topic-subheader {
  font-size:20px;
}
.enter-topic-text-container {
  background: #f7cda3;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

.enter-topic-input {
  padding: 6px;
  font-size:18px;
  margin-top: 20px;
  margin-bottom: 25px;
}

.enter-topic-btn {
  background-color: #c95349;
  color:#f4e5e4;
  border-radius: 10px;
  font-size: 1.5em;
  margin: 10px;
  padding: 12px;
  width: 90px;
}
.enter-topic-btn:hover {
  background-color: #f4e5e4;
  color: #c95349;
}

