.get-started-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  padding-top: 15px;
  height: 100%;
  max-width: 900px;
  margin: auto;
  background-color: #f9f2f1;
}
.get-started-header {
  font-size: 30px;
  padding-top: 5px;
}
.topic-header {
  font-size: 24px;
  padding: 15px;
}
.topic-text {
  font-size: 14px;
  line-height: 1.8;
  font-family: "Hind", sans-serif;
  padding: 5px;
}
.priority-text {
  font-size: 14px;
  font-family: "Hind", sans-serif;
  line-height: 1.8;
  padding: 5px;
}
.priority-header {
  font-size: 24px;
  padding: 15px;
}
.get-started-text-container {
  background: #f7cda3;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

.get-started-btn {
  background-color: #c95349;
  color: #f4e5e4;
  border-radius: 10px;
  font-size: 1.2em;
  margin: 25px 0;
  margin-bottom: 22px;
  width: 100px;
  padding: 15px;
  border: 2px solid #c95349;
  transition: all 0.1s ease-in;
}

.get-started-btn:hover {
  background-color: #f4e5e4;
  color: #c95349;
}

@media only screen and (min-width: 500px) {
  .get-started-page {
    padding-top: 30px;
  }
  .priority-text,
  .topic-text {
    padding: 25px;
    font-size: 16px;
  }
}

@media only screen and (min-width: 750px) {
  .get-started-page {
    padding: 30px;
    padding-top: 40px;
    max-width: 1200px;
  }
  .get-started-text-container {
    width: 800px;
  }
  .priority-text,
  .topic-text {
    padding: 30px;
    font-size: 22px;
  }
  .get-started-header {
    padding-top: 30px;
    font-size: 3em;
  }
  .priority-header,
  .topic-header {
    font-size: 2em;
    padding: 15px;
  }
}
