.how-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  height: 100%;
  max-width: 900px;
  margin: auto;
  background-color: #f9f2f1;
}
.how-header {
  font-size: 40px;
  padding-top: 40px;
  padding-bottom: 60px;
}
.topic-header {
  font-size: 28px;
  padding-bottom: 10px;
}
.topic-text {
  font-size: 18px;
  line-height: 1.8;
  font-family: 'Hind', sans-serif;
  padding-bottom: 20px;
}
.priority-text {
  font-size: 18px;
  font-family: 'Hind', sans-serif;
  line-height: 1.8;
  padding-bottom: 50px;
}
.priority-header {
  font-size: 28px;
  padding-bottom: 10px;
}
.how-text-container {
  background: #f7cda3;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

.how-btn {
  background-color: #c95349;
  color:#f4e5e4;
  border-radius: 10px;
  font-size: 1.5em;
  margin: 25px 0;
  margin-bottom: 48px;
  width: 100px;
  padding: 15px;
  border: 2px solid #c95349;
  transition: all .1s ease-in;
}

.how-btn:hover {
  background-color:#f4e5e4;
  color: #c95349;
}

@media only screen and (min-width: 500px) {

  .how-text-container {
    /* padding: 35px; */
  }
}

@media only screen and (min-height: 750px) {
  .how-page > section {
    padding: 10px;
    margin: 10px;
  }
}
