.profile-complete-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  height: 100%;
  max-width: 100%;
  background-color: #f9f2f1;
}
.profile-complete-header {
  margin-top: 15px;
  margin-bottom: 40px;
}
.profile-complete-text {
  align-content: center;
  background: #f7cda3;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
.profile-complete-input {
  width: 200px;
  height: 30px;
}
.profile-complete-btn-container {
  align-items: center;
}
.profile-complete-btn {
  background-color: #4ac17e;
  color: #f4e5e4;
  border-radius: 10px;
  font-size: 1.2em;
  margin-bottom: 25px;
  width: 100px;
  height: 50px;
  border: 2px solid #4ac17e;
  transition: all .1s ease-in;
}
.profile-complete-btn:hover {
  background-color: #ace2c4;
  color: #4ac17e;
}

.skip-btn {
  font-size: 12px;
}
