.profile-complete-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  height: 100%;
  margin: auto;
  max-width: 900px;
  background-color: #f9f2f1;
}
.profile-complete-header {
  padding: 10px;
  font-size: 2em;
}
.profile-complete-text {
  align-content: center;
  background: #f7cda3;
  text-align: center;
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px;
  padding-bottom: 60px;
}
.img-congrats-container {
  background-color: #f4e5e4;
  margin: 20px;
  padding: 20px;
  padding-bottom: 15px;
  border-radius: 10px;
}
.img-congrats {
  max-width: 50%;
  height: auto;
  padding:5px;
}
.profile-complete-input {
  width: 200px;
  height: 30px;
}
.profile-complete-btn-container {
  align-items: center;
}
.profile-complete-btn {
  background-color: #4ac17e;
  color: #f4e5e4;
  border-radius: 10px;
  font-size: 1.2em;
  padding: 10px;
  width: 120px;
  height: 60px;
  border: 2px solid #4ac17e;
  transition: all 0.1s ease-in;
}
.profile-complete-btn:hover {
  background-color: #ace2c4;
  color: #4ac17e;
}
.skip-btn {
  font-size: 12px;
}

@media only screen and (min-width: 500px) {
  .profile-complete-header {
    padding: 40px;
    font-size: 2.4em;
  }
}
@media only screen and (min-width: 750px) {
  .profile-complete-page {
    max-width: 1200px;
  }
  .profile-complete-text {
    padding: 30px;
    padding-bottom: 60px;
    width: 700px;
  }

  .img-congrats-container {
    padding: 60px;
    padding-bottom: 30px;

  }
}
