.start-profile-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  height: 100%;
  max-width: 900px;
  margin: auto;
  background-color: #f9f2f1;
}

.start-profile-header {
  font-size: 26px;
  padding: 10px;
}

.start-profile-subheader {
  font-family: "Hind", sans-serif;
  font-size: 20px;
}

.start-profile-text-container {
  background: #f7cda3;
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
}
.start-profile-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  margin-bottom: 100px;
}
.start-profile-input {
  font-family: "Hind", sans-serif;
  padding: 6px;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 25px;
  border: none;
}

.start-profile-btn {
  background-color: #c95349;
  color: #f4e5e4;
  border-radius: 10px;
  font-size: 1.2em;
  margin: 10px;
  padding: 15px;
  border: 2px solid #c95349;
  transition: all 0.1s ease-in;
}

.start-profile-btn:hover {
  background-color: #f4e5e4;
  color: #c95349;
}

@media only screen and (min-width: 750px) {
  .start-profile-page {
    max-width: 1200px;
  }
}
@media only screen and (min-height: 750px) {
  .start-profile-header {
    padding: 0px;
    font-size: 3em;
  }
  .start-profile-subheader {
    padding: 25px;
    font-size: 1.8em;
  }
  .start-profile-input {
    font-size: 22px;
  }
  .start-profile-text-container {
    margin-top: 60px;
    padding: 80px;
    padding-bottom: 0px;
  }
  .start-profile-btn {
    margin-top: 40px;
    padding: 20px;
    font-size: 2em;
  }
}
