.welcome-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  height: 100%;
  max-width: 100%;
  background-color: #f9f2f1;
}

.welcome-header {
  margin-top: 15px;
  margin-bottom: 40px;
}

.welcome-info {
  line-height: 1.5em;
  margin-bottom: 10px;
  font-family: 'Hind', sans-serif;
}
.text-container {
  background: #f7cda3;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}

.welcome-btn {
  background-color: #c95349;
  color: #f4e5e4;
  border-radius: 10px;
  font-size: 1.5em;
  margin: 10px 0;
  padding: 15px;
  margin-bottom: 35px;
  border: 2px solid #c95349;
  transition: all .1s ease-in;
}
.welcome-btn:hover {
  background-color: #f4e5e4;
  color: #c95349;
}